@page "/"

@if (CoreHub?.ConnectedClients is null)
{
    <h3>Connecting...</h3>
    return;
}

<BoxArea>
    @foreach (var clientData in CoreHub.ConnectedClients)
    {
        <ColorSquare @ref="@clientData.Square" Id="@clientData.Id" @key="@clientData.Id" CoreHub="@CoreHub" />
    }
</BoxArea>

@code {

    public CoreHub CoreHub;

    protected async override Task OnInitializedAsync()
    {
        CoreHub = new CoreHub();
        CoreHub.SetupCompleted += StateHasChanged;
        CoreHub.ConnectionAdded += StateHasChanged;
        await CoreHub.InitAsync();
    }

}